<div class="intro-block">
	<div class="col-5-12">
		{{# blue-header }}
		{{> atoms-h5-blue }}
		{{/ blue-header }}
		{{> atoms-h1 }}
	</div>
	<div class="col-7-12">
		{{> atoms-paragraph-lrg }}
	</div>
</div>



