<div class="grid flexwrap">
	<div class="col-1-1">
		{{> molecules-card-split }}
		{{> atoms-rule }}
	</div>
	<div class="col-1-1">
		{{> molecules-card-split }}
		{{> atoms-rule }}
	</div>
	<div class="col-1-1">
		{{> molecules-card-split }}
		{{> atoms-rule }}
	</div>
	<div class="col-1-1">
		{{> molecules-card-split }}
		{{> atoms-rule }}
	</div>
		<div class="col-1-1">
		{{> molecules-card-split }}
		{{> atoms-rule }}
	</div>
	<div class="col-1-1">
		{{> molecules-card-split }}
		{{> atoms-rule }}
	</div>
</div>