<div class="grid flexwrap">
	<div class="col-6-12">
		{{> molecules-card-stacked }}
	</div>
	<div class="col-6-12">
		{{> molecules-card-stacked }}
	</div>
	<div class="col-6-12">
		{{> molecules-card-stacked }}
	</div>
	<div class="col-6-12">
		{{> molecules-card-stacked }}
	</div>
	<div class="col-6-12">
		{{> molecules-card-stacked }}
	</div>
	<div class="col-6-12">
		{{> molecules-card-stacked }}
	</div>
</div>