<div class="grid flexwrap">
	<div class="col-1-1">
		{{> molecules-card-list-publication }}
		<div class="col-8-12 rule">
			{{> atoms-rule }}
		</div>
	</div>
	<div class="col-1-1">
		{{> molecules-card-list-publication }}
		<div class="col-8-12 rule">
			{{> atoms-rule }}
		</div>
	</div>
	<div class="col-1-1">
		{{> molecules-card-list-publication }}
		<div class="col-8-12 rule">
			{{> atoms-rule }}
		</div>
	</div>
	<div class="col-1-1">
		{{> molecules-card-list-publication }}
		<div class="col-8-12 rule">
			{{> atoms-rule }}
		</div>
	</div>
	<div class="col-1-1">
		{{> molecules-card-list-publication }}
		<div class="col-8-12 rule">
			{{> atoms-rule }}
		</div>
	</div>
	<div class="col-1-1">
		{{> molecules-card-list-publication }}
		<div class="col-8-12 rule">
			{{> atoms-rule }}
		</div>
	</div>
</div>