<div class="grid flexwrap">
	<div class="col-1-1 spotlight-alumni">
		{{> molecules-spotlight-full-alumni }}
	</div>
	<div class="col-1-1 spotlight-alumni">
		{{> molecules-spotlight-full-alumni }}
	</div>
	<div class="col-1-1 spotlight-alumni">
		{{> molecules-spotlight-full-alumni }}
	</div>
	<div class="col-1-1 spotlight-alumni">
		{{> molecules-spotlight-full-alumni }}
	</div>
	<div class="col-1-1 spotlight-alumni">
		{{> molecules-spotlight-full-alumni }}
	</div>
	<div class="col-1-1 spotlight-alumni">
		{{> molecules-spotlight-full-alumni }}
	</div>
</div>