
<ul class="sg-colors">
    <li>
        <span class="sg-swatch sg-background-brand-navy"></span>
        <span class="sg-label">
			#132f54<br>$color-brand-navy<br>--ioes-brand-navy</#132f54
		</span>
    </li>
    <li>
        <span class="sg-swatch sg-background-brand-cobalt"></span>
        <span class="sg-label">
			#1e4b87<br>$color-brand-cobalt<br>--ioes-brand-cobalt
		</span>
    </li>
     <li>
        <span class="sg-swatch sg-background-brand-blue"></span>
        <span class="sg-label">
        #2a72d3<br>$color-brand-blue<br>--ioes-brand-blue
        </span>
    </li>

   
     <li>
        <span class="sg-swatch sg-background-brand-yellow"></span>
        <span class="sg-label">
            #ffa600<br>$color-brand-yellow<br>--ioes-brand-yellow
        </span>
    </li>

       <li>
        <span class="sg-swatch sg-background-brand-ltYellow"></span>
        <span class="sg-label">
            #ffb300<br>$color-brand-ltYellow<br>--ioes-brand-ltYellow
        </span>
    </li>
</ul>