<div class="grid spotlight-full-text">
	<div class="col-1-1">
		{{> atoms-rule }}
	</div>

	<div class="col-7-12 push-1-5">
		{{> atoms-h3 }}
		{{> atoms-h5-blue }}
		{{> atoms-paragraph-sm }}
	</div>

	<div class="col-1-1">
		{{> atoms-rule }}
	</div>
</div>




