<div class="grid flexwrap">
	<div class="col-1-1">
		<div class="col-1-2 mobile-col-1-1">
			{{> molecules-card-split-person }}
		</div>
		<div class="col-1-2 mobile-col-1-1">
			{{> molecules-card-split-person }}
		</div>
		<div class="col-1-2 mobile-col-1-1">
			{{> molecules-card-split-person }}
		</div>
		<div class="col-1-2 mobile-col-1-1">
			{{> molecules-card-split-person }}
		</div>
		<div class="col-1-2 mobile-col-1-1">
			{{> molecules-card-split-person }}
		</div>
		<div class="col-1-2 mobile-col-1-1">
			{{> molecules-card-split-person }}
		</div>
	</div>
</div>