<div class="grid">
	<div class="col-1-3">
        {{> atoms-3x4 }}
	 </div>

    <div class="spotlight-alumni-text col-2-3">
   		{{> atoms-h5-blue }}
        {{> atoms-h2-card-split }}
        {{> atoms-rule }}
        {{> atoms-paragraph-sm }}
    </div>
</div>