<article id="post-###" class="card-stacked">
	<div class="col-1-{{ column.size }}">
		<a href="#" rel="bookmark">
			{{> atoms-16x9 }}
			{{> atoms-h2-secondary }}
		</a>
		{{> atoms-paragraph-sm }}
		<ul class="col-10-12 tag-text">
			{{# tags }}
				<li>{{> atoms-tag-button }}</li>
			{{/ tags }}
		</ul>
    </div>
</article>