<div class="card-list">
	<div class="col-1-{{ column.size }}">
		<div class="col-1-1">
			{{> atoms-h5-blue }}
			{{> atoms-h4-date-xs }}
		</div>
	    <div class="col-10-12 clear">
	       <a href="#">{{> atoms-h2-secondary }}</a>
	       {{> atoms-paragraph-sm }}
	    </div>
	</div>
</div>
