<div class="col-1-{{ column.size }}">
	<a href="#" rel="bookmark">
        <div class="card-img-scale-up">
   			<div class="bg-image-card"></div>
            <img src="../../images/max_card_full.jpg" alt="">
            <div class="bg-color"></div>
			<div class="center-text">
    			{{> atoms-h5-no-underline }}
    		</div>
        </div>
	</a>
</div>
