<div class="card-split-person">
	<div class="col-3-12 mobile-col-1-2">
		<a href="#">
			{{> atoms-3x4 }}
		</a>
	</div>
	<div class="col-6-12 mobile-col-1-2">
		<div class="person">
			<a href="#">
				{{> atoms-h2-secondary }}
			</a>
			<div>
				{{> atoms-caption-bold }}
			</div>
				{{> atoms-caption }}
		</div>
	</div>
</div>