<div class="card-split person-block">
	<div class="col-1-1">
		<div class="col-1-4">
			{{> atoms-3x4 }}
			<div class="social-btn-container">
				<a href="#">
					<div class="social-btn social-btn-noborderyellow">
						<i class="fab fa-{{ social-btn.fa-icon2 }}"></i>
					</div>
				</a>
				<a href="#">
					<div class="social-btn social-btn-noborderyellow">
						<i class="fab fa-{{ social-btn.fa-icon1 }}-square"></i>
					</div>
				</a>
				<a href="#">
					<div class="social-btn social-btn-noborderyellow">
						<i class="fab fa-{{ social-btn.fa-icon4 }}"></i>
					</div>
				</a>
				<a href="#">
					<div class="social-btn social-btn-noborderyellow">
						<i class="fab fa-{{ social-btn.fa-icon5 }}"></i>
					</div>
				</a>
				<a href="#">
					<div class="social-btn social-btn-noborderyellow">
						<i class="fab fa-{{ social-btn.fa-icon6 }}"></i>
					</div>
				</a>
			</div>
		</div>
		<div class="col-3-4">
			<div class="col-1-1 clear">
				{{> atoms-h3 }}
				{{> atoms-h4-title }}
				{{> atoms-paragraph }}
				{{> atoms-rule }}
				{{> atoms-contact }}
				{{> atoms-address }}
				<div class="person-mailcode">
					{{> atoms-mailcode }}
				</div>
				{{> atoms-website }}
			</div>
		</div>
	</div>
</div>


