
<ul class="sg-colors">
      <li>
        <span class="sg-swatch sg-background-color-black"></span>
        <span class="sg-label">
			$color-black #000000
		</span>
    </li>
    <li>
        <span class="sg-swatch sg-background-neutral-black"></span>
        <span class="sg-label">
		#1a1a1a<br>$color-neutral-black<br>--ioes-brand-neutral-black
		</span>
    </li>
    <li>
        <span class="sg-swatch sg-background-neutral-darkGrey"></span>
        <span class="sg-label">
		#555<br>$color-neutral-darkGrey<br>--ioes-brand-darkGrey
		</span>
    </li>
     <li>
        <span class="sg-swatch sg-background-neutral-warmGrey"></span>
        <span class="sg-label">
            #a1a1a1<br>$color-neutral-warmGrey<br>--ioes-brand-warmGrey
        </span>
    </li>
     <li>
        <span class="sg-swatch sg-background-neutral-lightGrey"></span>
        <span class="sg-label">
            #dcdcdc<br>$color-neutral-lightGrey<br>--ioes-brand-lightGrey
        </span>
    </li>
     <li>
        <span class="sg-swatch sg-background-neutral-whiteGrey"></span>
        <span class="sg-label">
            #f6f6f6<br>$color-neutral-whiteGrey<br>--ioes-brand-whiteGrey
        </span>
    </li>

    <li>
        <span class="sg-swatch sg-background-neutral-greyBlue"></span>
        <span class="sg-label">
            #eaedf0<br>$color-neutral-greyBlue<br>--ioes-brand-greyBlue
        </span>
    </li>

    <li>
        <span class="sg-swatch sg-background-white"></span>
        <span class="sg-label">
            #ffffff<br>$color-white<br>--ucla-white
        </span>
    </li>
</ul>
