<div class="col-1-1">
	<div class="col-10-12 cta-full">
		{{> atoms-h3 }}
		{{> atoms-paragraph-sm }}
		<ul class="col-1-1 cta-full-buttons">
			<li class="buttons">
				{{> atoms-text-button }}
			</li>
			<li class="buttons">
				{{> atoms-text-button }}
			</li>
		</ul>
	</div>
</div>