<div class="grid grid-pad">
    <div class="col-1-2">
    	<div class="spotlight-half color-bg">
	        {{> atoms-h3-white }}
	        {{> atoms-h5-yellow }}
	        {{> atoms-paragraph-sm-white }}
        </div>
    </div>
</div>


