<div class="grid grid-pad">
	<div class="col-1-2">
		<div class="spotlight-half-scale-up spotlight-half-socialmedia">
			<img src="../../images/max_card_full.jpg" alt="">
			<div class="bg-color"></div>
				<div class="center-text">
				<div class="vertical-align">
					<i class="fab fa-instagram"></i>
					{{> atoms-h3-white }}
				</div>
					{{> atoms-paragraph-lrg-white }}
			</div>
		</div>
	</div>
</div>
