<div class="grid flexwrap">
	<div class="card-list-grid">
		<div class="col-1-1">
			{{> molecules-card-list }}
			<div class="rule clear">
				{{> atoms-rule }}
			</div>
		</div>
		<div class="col-1-1">
			{{> molecules-card-list-image }}
			<div class="rule clear">
				{{> atoms-rule }}
			</div>
		</div>
		<div class="col-1-1">
			{{> molecules-card-list }}
			<div class="rule clear">
				{{> atoms-rule }}
			</div>
		</div>
		<div class="col-1-1">
			{{> molecules-card-list-image }}
			<div class="rule clear">
				{{> atoms-rule }}
			</div>
		</div>
		<div class="col-1-1">
			{{> molecules-card-list }}
			<div class="rule clear">
				{{> atoms-rule }}
			</div>
		</div>
		<div class="col-1-1">
			{{> molecules-card-list-image }}
			<div class="rule clear">
				{{> atoms-rule }}
			</div>
		</div>
	</div>
</div>