<div class="col-1-2">
	<div class="cta-half color-bg">
		<div class="center-text">
        	{{> atoms-h2-white }}
        	{{> atoms-paragraph-white }}
        	{{> atoms-text-button-yellow-arrow }}
        </div>
    </div>
</div>