<div class="col-1-2">
	<div class="cta-scale-up-wrap">
    	<img src="../../images/max_card_full.jpg" alt="" class="cta-half">
    	<div class="bg-color"></div>
		<div class="center-text">
        	{{> atoms-h2-white }}
        	{{> atoms-paragraph-white }}
        	{{> atoms-text-button-yellow-arrow }}
        </div>
    </div>
 </div>