<div class="card-split">
	<div class="col-1-1">
		<article id="post-###">
			<div class="col-1-2">
				<a href="#" rel="bookmark" class="">
					<img src="../../images/event_16_9.jpg" alt="" class="card-split-image">
				</a>
			</div>
			<div class="col-1-2">
				<div class="card-split-text">
					<div class="col-1-1">
							{{> atoms-h5-blue }}
					</div>
					<div class="col-1-1 clear">
						<a href="#">{{> atoms-h2-card-split }}</a>
						{{> atoms-h2-secondary }}
						{{> atoms-h4-date-sm }}
						{{> atoms-paragraph-sm }}
						<ul class="col-10-12 tag-text">
							{{# tags }}
								<li>{{> atoms-tag-button }}</li>
							{{/ tags }}
						</ul>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>


