<div class="card-list">
	<div class="col-1-1">
		{{> atoms-h5-blue }}
		{{> atoms-h4-date-xs }}
	</div>
	<div class="col-1-1">
		<div class="col-8-12 clear">
			<a href="#">{{> atoms-h2-secondary }}</a>
			{{> atoms-paragraph-sm }}
		</div>
		<div class="col-3-12 mobile-col-1-1 push-right">
			<a href="#">
				<div class="card-list-img">
					{{> atoms-4x3 }}
					{{> atoms-caption }}
				</div>
			</a>
		</div>
	</div>
</div>

