<div class="cta-full-image">
	<div class="bg-image-card">
		<div class="cta-full-image-text">
			{{> atoms-h2-white }}
			{{> atoms-paragraph-white }}
			{{> atoms-primary-btn-yellow }}
		</div>
	</div>
</div>