<div class="col-1-2">
	<div class="cta-stacked">
		<a href="#" rel="bookmark">
			{{> atoms-16x9 }}
			{{> atoms-h3 }}
		</a>
		{{> atoms-paragraph-sm }}
		{{> atoms-text-button-blue }}
	</div>
</div>