<div class="grid">
	<div class="col-1-1 intro-block contact">
		<div class="col-8-12">
			{{> atoms-h1 }}
			{{> atoms-paragraph-lrg }}
			<p class="lrg">
				WE are immensely grateful for this support. To learn more, please contact David Schlais.
			</p>
		</div>
			<div class="col-4-12 push-2-12">
<!-- 			 {{> molecules-contact-molecule }}
 -->		{{> atoms-headline-bar }}
			 {{> atoms-caption-bold }}
			{{> atoms-address }}
			{{> atoms-contact }}
		</div>
	</div>
</div>
