<div  class="ioes-c-card-overlay">
	<a href="#" rel="bookmark">
        <figure>
            <img src="../../images/max_card_full.jpg" alt="">
            <div class="bg-color"></div>
			  <figcaption>
    			{{> atoms-h5-no-underline }}
    		</figcaption>
        </figure>
	</a>
</div>