<ul class="sg-colors">
    <li>
        <span class="sg-swatch sg-background-ucla-gold"></span>
        <span class="sg-label">
			#ffd100<br>$ucla-gold<br>--ucla-gold
		</span>
    </li>
    <li>
        <span class="sg-swatch sg-background-ucla-blue"></span>
        <span class="sg-label">
			#2774ae<br>$ucla-blue<br>--ucla-blue
		</span>
    </li>
 </ul> 
 <ul class="sg-colors">  
     <li>
        <span class="sg-swatch sg-background-ucla-darker-gold"></span>
        <span class="sg-label">
            #ffc72c<br>$ucla-darker-gold<br>--ucla-darker-gold
        </span>
    </li>

     <li>
        <span class="sg-swatch sg-background-ucla-darkest-gold"></span>
        <span class="sg-label">
            #ffb81c<br>$ucla-darkest-gold<br>--ucla-darkest-gold
        </span>
    </li>
    <li>
        <span class="sg-swatch sg-background-ucla-lightest-blue"></span>
        <span class="sg-label">
            #daebfe<br>$ucla-lightest-blue<br>--ucla-lightest-blue
        </span>
    </li>

    <li>
        <span class="sg-swatch sg-background-ucla-lighter-blue"></span>
        <span class="sg-label">
            #8bb8e8<br>$ucla-lighter-blue<br>--ucla-lighter-blue
        </span>
    </li>
     <li>
        <span class="sg-swatch sg-background-ucla-darker-blue"></span>
        <span class="sg-label">
            #005587<br>$ucla-darker-blue<br>--ucla-darker-blue
        </span>
    </li>

       <li>
        <span class="sg-swatch sg-background-ucla-darkest-blue"></span>
        <span class="sg-label">
        #003b5c<br>$ucla-darkest-blue<br>--ucla-darkest-blue
        </span>
    </li>
 </ul> 
 <ul class="sg-colors">  
     <li>
        <span class="sg-swatch sg-background-ucla-cyan"></span>
        <span class="sg-label">
          #00ffff<br>$ucla-cyan<br>--ucla-cyan
        </span>
    </li>

      <li>
        <span class="sg-swatch sg-background-ucla-magenta"></span>
        <span class="sg-label">
        #ff00a5<br>$ucla-magenta<br>--ucla-magenta
        </span>
    </li>
      <li>
        <span class="sg-swatch sg-background-ucla-green"></span>
        <span class="sg-label">
            #00ff87<br>$ucla-green<br>--ucla-green
        </span>
    </li>
      <li>
        <span class="sg-swatch sg-background-ucla-chateau-green"></span>
        <span class="sg-label">
        #32aa56<br>$ucla-chateau-green<br>--ucla-chateau-green
        </span>
    </li>
    
      <li>
        <span class="sg-swatch sg-background-ucla-yellow"></span>
        <span class="sg-label">
        #ffff00<br>$ucla-yellow<br>--ucla-yellow
        </span>
    </li>

       <li>
        <span class="sg-swatch sg-background-ucla-purple"></span>
        <span class="sg-label">
            #8a69d4<br>$ucla-purple<br>--ucla-purple
        </span>
    </li>
</ul>