<article id="post-###" class="col-1-2">
	<a href="#" rel="bookmark">
        <div class="card-half-scale-up">
   			<img src="../../images/max_card_full.jpg" alt="">
            <div class="bg-color"></div>
			<div class="card-text">

    			{{> atoms-h5 }}

    			{{> atoms-h2-card-half }}

    		</div>
        </div>
	</a>
</article>